#contact {
	width: 800px; margin: 60px auto; padding: 60px 30px;

	background: black; border: 1px solid black;
	-moz-box-shadow: 0px 0px 8px black;
	-webkit-box-shadow: 0px 0px 8px black;
	font: black;
}
body{
	font-family: 'Raleway', sans-serif;

}
input{
	width: 450px;
	color:black;
	height: 50px;
	font-size: 20px;
	text-align: center;
}
textarea{
	width: 450px;
	height: 200px;
	font-size: 20px;
	text-align: center;
}
fieldset{
	background: white;
}
#contact{
	background:white;
	color: black;
}
.txt{
	font-size: 30px;

}
#enviar{
	font-size: 15px;
	height: 10px;
	height: 50px;
}
#formulario{
	color: black;
	background: blue;
}


