/* * */
	*{
		margin: 0;
		padding: 0;
	}
/* A */
	#alertaMala{
		background-color: black;
		border-left: 150px solid rgb(231, 76, 60);
		color: rgb(255, 228, 225);
		font-size: 40px;
		text-align: center;
	}
	#alertaBuena{
		background-color: black;
		border-left: 150px solid rgb(46, 204, 113);
		color:rgb(161, 232, 191);
		font-size: 40px;
		text-align: center;
	}
	/*para enlaces de pie pagina 1*/
	.anim-subrayado{
		position: relative;
		text-align: center;
	}
	.anim-subrayado:before{
		 -webkit-transform: scaleX(0);
		 -webkit-transition: all 0.4s;
		 -o-transform: scaleX(0);
		 -o-transition: all 0.4s;
		 -ms-transform: scaleX(0);
		 -ms-transition: all 0.4s;
		 -moz-transform: scaleX(0);
		 -moz-transition: all 0.4s;
		 animation: width 0.5s;
		 background-color: rgb(255, 178, 85);
		 border-radius: 4px;
		 bottom: 0;
		 content: "";
		 height: 4px;
		 left: 0;
		 position: absolute;
		 transform: scaleX(0);
		 transition: all 0.7s;
		 width: 0;
		 width: 100%;
	}
	.anim-subrayado:hover:before {
		-webkit-transform: scaleX(1);
		-o-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-moz-transform: scaleX(1);
		transform: scaleX(1);
	}
	/*para siguenos*/
	.anim-subrayado_sigue{
		position: relative;
		text-align: center;
	}
	.anim-subrayado_sigue:before{
		 -webkit-transform: scaleX(0);
		 -webkit-transition: all 0.4s;
		 -o-transform: scaleX(0);
		 -o-transition: all 0.4s;
		 -ms-transform: scaleX(0);
		 -ms-transition: all 0.4s;
		 -moz-transform: scaleX(0);
		 -moz-transition: all 0.4s;
		 animation: width 0.5s;
		 background-color: rgb(234, 197, 85);
		 border-radius: 4px;
		 bottom: 0;
		 content: "";
		 height: 4px;
		 left: 0;
		 position: absolute;
		 transform: scaleX(0);
		 transition: all 0.7s;
		 width: 0;
		 width: 100%;
	}
	.anim-subrayado_sigue:hover:before {
		-webkit-transform: scaleX(1);
		-o-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-moz-transform: scaleX(1);
		transform: scaleX(1);
	}
	/*para enlaces de pie pagina 2*/
	.anim-subrayado_piepa{
		position: relative;
		text-align: center;
		padding: 15px 15px;
	}
	.anim-subrayado_piepa:before{
		 -webkit-transform: scaleX(0);
		 -webkit-transition: all 0.4s;
		 -o-transform: scaleX(0);
		 -o-transition: all 0.4s;
		 -ms-transform: scaleX(0);
		 -ms-transition: all 0.4s;
		 -moz-transform: scaleX(0);
		 -moz-transition: all 0.4s;
		 animation: width 0.5s;
		 background-color: rgb(255, 140, 1);
		 border-radius: 4px;
		 bottom: 0;
		 content: "";
		 height: 4px;
		 left: 0;
		 position: absolute;
		 transform: scaleX(0);
		 transition: all 0.7s;
		 width: 0;
		 width: 100%;
	}
	.anim-subrayado_piepa:hover:before {
		-webkit-transform: scaleX(1);
		-o-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-moz-transform: scaleX(1);
		transform: scaleX(1);
	}
	/*para enlaces de pie pagina 3*/
	.anim-subrayado_piepa_3{
		position: relative;
		text-align: center;
	}
	.anim-subrayado_piepa_3:before{
		 -webkit-transform: scaleX(0);
		 -webkit-transition: all 0.4s;
		 -o-transform: scaleX(0);
		 -o-transition: all 0.4s;
		 -ms-transform: scaleX(0);
		 -ms-transition: all 0.4s;
		 -moz-transform: scaleX(0);
		 -moz-transition: all 0.4s;
		 animation: width 0.5s;
		 background-color: white;
		 border-radius: 5px;
		 bottom: 0;
		 content: "";
		 height: 7px;
		 left: 0;
		 position: absolute;
		 transform: scaleX(0);
		 transition: all 0.7s;
		 width: 0;
		 width: 100%;
	}
	.anim-subrayado_piepa_3:hover:before {
		-webkit-transform: scaleX(1);
		-o-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-moz-transform: scaleX(1);
		transform: scaleX(1);
	}

/* B */
	#barraPromo{
		display:inline-block;
		font-size: 15px;
		position:relative; 
		text-align: center;
	}
	#bpartePromo_1{
		background-color: rgb(55, 55, 55);
		border-left: 20px solid #FFB347;
		float:left; 
		padding-left: 10px;	
		padding-right: 10px; 
		position:relative;
		text-align: center;
		width: 30%;
	}
	#bpartePromo_2{
		background-color: rgb(55, 55, 55);
		float:left;
		position:relative;
		text-align: center;	
		width: 25%; 
	}
	#bparteUserDatos_1{
		background-color: black;
		float:right; 
		position:relative;
		text-align: center;
		width: 20%;
	}
	#bparteUserDatos_2{
		background-color: black;
		border-left: 20px solid rgb(170, 119, 47);
		float:right;
		position:relative;
		text-align: center;
		width: 25%;
	}
	.conteNidos{
		float: left;
		height: 80px;
	}
	.btn:active{
	    background:#FFB347;
	}
	#btnregis{
		font-size: 1.3vw;
	}
	#btnbuscar{
		font-size: 1.3vw;
	}

/* C */
	#cajabuscar{
		font-size: 1.3vw;	
	}
	#cuerpo{
		background-color: white;
		font-family: 'Raleway', sans-serif;
	}
	
	#txtbuscar{
		font-size: 1.3vw;
	}

/* D */
	.dropdounColores:active{
      background-color:#FFB347 !important;
      color: black !important;
	}
	.datapicker{
		height: 10px;
		width: 50%;
	}

/* E */
	/*Ventana Modal*/
	.ent-modal{
		height:30px;
		white-space: pre;
		width:500px;
	}
	.enlacespie{ 
		color:rgb(255, 165, 0); 
	}
	.enlacespie:link{ 
		color: rgb(246, 162, 80); 
	}
	.enlacespie:visited { 
		color:rgb(255, 160, 122);
	}
	.enlacespie:hover{ 
		color:rgb(246, 162, 80);
	}
		/*Ventana Modal*/
	.estilosinputs:required:invalid, .datapicker{ 
		border: 1px solid red;
		font-family: 'Raleway', sans-serif;
		border-radius: 4px;
	}
	.estilosinputs:required:valid, .datapicker {
		border: 1px solid green;
		font-family: 'Raleway', sans-serif;
		border-radius: 4px;
	}
	.estilosinputs:invalid, .datapicker {
		border: 1px solid red;
		font-family: 'Raleway', sans-serif;
		border-radius: 4px;
	}
	/* Estilo por defecto */
	.estilosinputs:valid{ 
		border: 1px solid green;
		font-family: 'Raleway', sans-serif;
		width: 100%;
	    border-radius: 4px;
	    resize: vertical;
    	padding: 12px;
	}
	.estilosinputs input[type="text"],input[type="email"],input[type="password"],input[type="number"] {
        width: 100%;
        margin-top: 0;
    }

/* F */

/* G */

/* H */
	header{
		background-color: #FFB347;
		color: white;
		font-size: 7vw;
		outline-color: black;
		outline-offset: 5px;
		text-align: center;
	}
	hr{
		background-color: rgb(230, 230, 230);
	}
	#hr_form_regis{
		background-color:  #FFB347;
		border-radius: 5px;
		height: 5px;
	}
	#hr_admin{
		background-color:  rgb(170, 119, 47);
		border-radius: 3px;
		height: 5px;
	}
	#hr_usernormal{
		background-color: rgb(255, 204, 132);
		border-radius: 3px;
		height: 5px;
	}

/* I */
	/*=========================
  			Iconos
 		================= */
	.icoFacebook:hover{
		-webkit-transform: scale(2.0);
		transition: .5s ease;
	    -moz-transform: scale(2.0);
	    -ms-transform: scale(2.0);
	    -o-transform: scale(2.0);
	    transform: scale(2.0);
	}
	.icoGoogle:hover{
		-webkit-transform: scale(2.0);
		transition: .5s ease;
	    -moz-transform: scale(2.0);
	    -ms-transform: scale(2.0);
	    -o-transform: scale(2.0);
	    transform: scale(2.0);
	}
	.icoLinkedin:hover{
		-webkit-transform: scale(2.0);
		transition: .5s ease;
	    -moz-transform: scale(2.0);
	    -ms-transform: scale(2.0);
	    -o-transform: scale(2.0);
	    transform: scale(2.0);
	}
	.icoYoutube:hover{
		-webkit-transform: scale(2.0);
		transition: .5s ease;
	    -moz-transform: scale(2.0);
	    -ms-transform: scale(2.0);
	    -o-transform: scale(2.0);
	    transform: scale(2.0);
	}
	.imgnota{
		display:block;
		height: 50%;
		margin:auto;
		width: 50%;
	}
	#isotipogal{
		width: 30%;
	    height: 30%;
	}
	.isotipogal:hover{
		-webkit-transform: scale(0.9);
		opacity: 3.8;
		transition: .5s ease;
	    -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    -o-transform: scale(0.9);
	    transform: scale(0.9);
	}	

/* J */

/* K */

/* L */
	.listanav{
		display:inline-block;
	    *display:inline; /* para navegadores antiguos y IE que no cogen inline-block */
	    zoom:1; /* para navegadores antiguos y IE que no cogen inline-block */
	}
	.listabajo{
		width: 100%;
	    float: none;
	}

/* M */
	.main{
		background-color: white;
	}
	#mapa{
	   background-color: grey;
	   height: 400px;
	   width: 100%;
	}

/* N */
	.nav-link {
		color: white;
		font-size: 2vw;
	}
	.nav-link:hover{
		color: #FFB347;
	}
	.nav-link:before{
		 -moz-transform: scaleX(0);
		 -moz-transition: all 0.4s;
		 -ms-transform: scaleX(0);
		 -ms-transition: all 0.4s;
		 -o-transform: scaleX(0);
		 -o-transition: all 0.4s;
		 -webkit-transform: scaleX(0);
		 -webkit-transition: all 0.4s;
		 animation: width 0.5s;
		 background-color: rgb(255, 178, 85);
		 border-radius: 4px;
		 bottom: 0;
		 content: "";
		 height: 4px;
		 left: 0;
		 position: absolute;
		 transform: scaleX(0);
		 transition: all 0.7s;
		 width: 0;
		 width: 100%;
	}
	.nav-link:hover:before {
		-moz-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-o-transform: scaleX(1);
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	.navp {
		font-size: 2.2vw;
		font-weight: bold;
	}
	.navbar{
		-moz-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		-ms-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		-o-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		-webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		background-color: black;
		box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
		box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	}
	.notaspar{
		text-align: justify;
	 	font-size: 22px;
	}
	.nombresdeve{
		text-align: center;
	 	font-size: 25px;
	}
	/*Reglas para el estilo de las notas al explotar al dar click en cualquier parte
	del body*/
	.notasboom{
	    height: 40px;
	    position: absolute;
	    width: 40px;
	}
	.nota_1{
	 	-moz-transform: rotate(+15deg);
	 	-ms-transform: rotate(+15deg);
	 	-o-transform: rotate(+15deg);
	 	-webkit-transform: rotate(+15deg);
	 	transform: rotate(+15deg);
	}
	.nota_2{
	 	-moz-transform: rotate(-30deg);
	 	-ms-transform: rotate(-30deg);
	 	-o-transform: rotate(-30deg);
	 	-webkit-transform: rotate(-30deg);
	 	transform: rotate(-30deg);
	}
	.nota_3{
	 	-moz-transform: rotate(-45deg);
	 	-ms-transform: rotate(-45deg);
	 	-o-transform: rotate(-45deg);
	 	-webkit-transform: rotate(-45deg);
	 	transform: rotate(-45deg);
	}

/* O */

/* P */
	.piedepag{
		-moz-box-shadow: 0px -9px 15px -1px rgba(0,0,0,0.65);
		-ms-box-shadow: 0px -9px 15px -1px rgba(0,0,0,0.65);
		-o-box-shadow: 0px -9px 15px -1px rgba(0,0,0,0.65);
		-webkit-box-shadow: 0px -9px 15px -1px rgba(0,0,0,0.65);
		background-color:black;
		border-top-color: rgb(255, 140, 0);
		box-shadow: 0px -9px 15px -1px rgba(0,0,0,0.65);
		color: white;
		opacity: 0.9;
		padding-bottom: 30px;
		text-align: center;
	}
	#piedepag2{
		background-color:black;
		color: white;
		font-size: 18px;
		text-align: center;
	}
	.subpiedepag2{
		background-color:black;
		color: white;
		font-size: 18px;
		text-align: justify;
	}
	.piedepag3{
		-moz-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		-ms-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		-o-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		-webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		background-color:rgb(255, 178, 85);
		box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
		box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		color: black;
		font-size: 20px;
		font-weight: bold;
		line-height:60px;
		text-align: center;
	}

/* Q */

/* R */
	#rayapieredes{
		background-color: rgb(255, 178, 85);
		border-radius: 10px;
		height: 4px;
	}
	.row{
		text-align: justify;
	}
	.radio-texto {
	    float: left;
	    margin-right: 3%;
	}
	.radio-opciones {
		display: inline-block;
	    margin: auto;

	    text-align: center;
	}

/* S */

/* T */
	#temaprinci{
		font-size: 40px;
		text-align: center;
	}

/* U */

/* V */

/* W */

/* X */

/* Y */

/* Z */
/*BY: YIZECKKER2304 / Pedro Erick Ríos García, México*/