body{
	background-repeat: no-repeat;
	background-size:100% ;
}

#header-informatica{
	color: white;
}
#barra{
	
	border-color: transparent;
	color: white;
}
.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.nav-link {
	color: white;
	font-size: 15px;
}
.nav-link:hover {
	color: #a4e6e3;
}
.nombresdeve{
	text-align: center;
 	font-size: 25px;
}
#temaprinci{
	font-size: 40px;
	text-align: center;
}
li{
	text-align: center;
}
.row{
	text-align: justify;
}
#temaprinci{
	font-size: 40px;
	text-align: center;

}
.nombresdeve{
	text-align: center;
 	font-size: 25px;
}
hr{
	background-color: rgb(230, 230, 230);
}

#map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }