/* A */
	/*para enlaces <a/>*/
	#alertaMala{
		background-color: black;
		border-left: 20px solid rgb(229, 106, 113);
		color: white;
		font-size: 40px;
		text-align: center;
	}
	.anim-subrayado{
		position: relative;
		text-align: center;
		padding: 8px 8px;
	}
	.anim-subrayado:before{
		 -webkit-transform: scaleX(0);
		 -webkit-transition: all 0.4s;
		 -o-transform: scaleX(0);
		 -o-transition: all 0.4s;
		 -ms-transform: scaleX(0);
		 -ms-transition: all 0.4s;
		 -moz-transform: scaleX(0);
		 -moz-transition: all 0.4s;
		 animation: width 0.5s;
		 background-color: rgb(255, 140, 1);
		 border-radius: 4px;
		 bottom: 0;
		 content: "";
		 height: 4px;
		 left: 0;
		 position: absolute;
		 transform: scaleX(0);
		 transition: all 0.7s;
		 width: 0;
		 width: 100%;
	}
	.anim-subrayado:hover:before {
		-webkit-transform: scaleX(1);
		-o-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-moz-transform: scaleX(1);
		transform: scaleX(1);
	}
	/*para enlaces de pie pagina 3*/
	.anim-subrayado_piepa_3{
		position: relative;
		text-align: center;
	}
	.anim-subrayado_piepa_3:before{
		 -webkit-transform: scaleX(0);
		 -webkit-transition: all 0.4s;
		 -o-transform: scaleX(0);
		 -o-transition: all 0.4s;
		 -ms-transform: scaleX(0);
		 -ms-transition: all 0.4s;
		 -moz-transform: scaleX(0);
		 -moz-transition: all 0.4s;
		 animation: width 0.5s;
		 background-color: black;
		 border-radius: 5px;
		 bottom: 0;
		 content: "";
		 height: 7px;
		 left: 0;
		 position: absolute;
		 transform: scaleX(0);
		 transition: all 0.7s;
		 width: 0;
		 width: 100%;
	}
	.anim-subrayado_piepa_3:hover:before {
		-webkit-transform: scaleX(1);
		-o-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-moz-transform: scaleX(1);
		transform: scaleX(1);
	}

/* B */
	.btn:active{
	    background:#FFB347;
	}
	#btnregis{
		font-size: 1.3vw;
	}

/* C */
	#cajabuscar{
		font-size: 1.3vw;	
	}
	#cuerpo{
		background-color: white;
		font-family: 'Raleway', sans-serif;
	}
	
	#txtbuscar{
		font-size: 1.3vw;
	}

/* D */
	.dropdounColores:active{
      background-color:#FFB347 !important;
      color: black !important;
	}

/* E */
	/*Ventana Modal*/
	.ent-modal{
		height:40px;
		width:350px;
		font-size: 24px;
		text-align: center;
	}
	#enviar{
		font-size: 28px;
		font-weight: bold;
	}
	.estilosinputs:required:invalid { 
		border: 1px solid red;
		font-size: 24px;
	}
	.estilosinputs:required:valid {
		border: 1px solid green;
		font-size: 24px;
	}
	.estilosinputs:invalid {
		border: 1px solid red;
		font-size: 24px;
	}
	/* Estilo por defecto */
	.estilosinputs:valid { 
		border: 1px solid green;
		font-size: 24px;
	}

/* F */
	/*Ventana Modal*/
	#fusuagral {
	    width: 400px;
	    text-align: center;
	}
	#fusuagral label {
	    display: inline-block;
	    text-align: center;
	}
	#fusuagral input {
	    display: inline-block;
	    margin-bottom: 10px;
	    text-align: center;
	}

/* G */

/* H */
	header{
		background-color: #FFB347;
		color: white;
		font-size: 35px;
		text-align: center;
		outline-color: black;
		outline-offset: 5px;
	}
	hr{
		background-color: rgb(230, 230, 230);
	}
	.hr_admin{
		background-color: black;
		border-radius: 3px;
		height: 5px;
	}

/* I */

/* J */

/* K */

/* L */
	.labeltam{
		font-size: 25px;
	}

/* M */

/* N */
	.nav-link {
		color: white;
		font-size: 28px;
	}
	.nav-link:hover{
		color: #FFB347;
	}
	.nav-link:before{
		 -webkit-transform: scaleX(0);
		 -webkit-transition: all 0.4s;
		 -o-transform: scaleX(0);
		 -o-transition: all 0.4s;
		 -ms-transform: scaleX(0);
		 -ms-transition: all 0.4s;
		 -moz-transform: scaleX(0);
		 -moz-transition: all 0.4s;
		 animation: width 0.5s;
		 background-color: rgb(255, 178, 85);
		 border-radius: 4px;
		 bottom: 0;
		 content: "";
		 height: 4px;
		 left: 0;
		 position: absolute;
		 transform: scaleX(0);
		 transition: all 0.7s;
		 width: 0;
		 width: 100%;
	}
	.nav-link:hover:before {
		-webkit-transform: scaleX(1);
		-o-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-moz-transform: scaleX(1);
		transform: scaleX(1);
	}
	.navbar{
		-moz-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		-ms-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		-o-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		-webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		background-color: black;
		box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
		box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		height: 55px;
	}

/* O */
	.olvidaste{ 
		color:rgb(255, 165, 0); 
		text-decoration: none;
		font-size: 20px;
	}
	.olvidaste:link{ 
		text-decoration: none;
	}
	.olvidaste:visited { 
		color:rgb(255, 160, 122);
		text-decoration: none;
	}
	.olvidaste:hover{ 
		text-decoration: none;
	}

/* P */
	.piedepag3{
		-moz-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		-ms-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		-o-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		-webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		background-color:rgb(255, 178, 85);
		box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
		box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
		color: black;
		font-size: 20px;
		font-weight: bold;
		line-height:60px;
		text-align: center;
	}

/* Q */

/* R */
	.row{
		text-align: justify;
	}

/* S */
	.sombra{
		-webkit-box-shadow: 0px 0px 13px 2px rgba(231,166,26,1);
		-moz-box-shadow: 0px 0px 13px 2px rgba(231,166,26,1);
		-o-box-shadow: 0px 0px 13px 2px rgba(231,166,26,1);
		-ms-box-shadow: 0px 0px 13px 2px rgba(231,166,26,1);
		box-shadow: 0px 0px 13px 2px rgba(231,166,26,1);
		border-radius: 10px;
	}

/* T */

/* U */

/* V */

/* W */

/* X */

/* Y */

/* Z */
/*BY: YIZECKKER2304 / Pedro Erick Ríos García, México*