.enlacespie:link { 
	color: rgb(246, 162, 80); 
	text-decoration: none; 
}
.enlacespie:visited { 
	color:rgb(212, 218, 229);
	text-decoration: none; 
}
.enlacespie:hover { 
	color:#a4e6e3;
	text-decoration: none; 
}
.enlacespie:active { 
	color: rgb(246, 162, 80); 
	text-decoration: underline; 
}
.listanav{
	display:inline-block;
    *display:inline; /* para navegadores antiguos y IE que no cogen inline-block */
    zoom:1; /* para navegadores antiguos y IE que no cogen inline-block */
}
.listabajo{
	width: 100%;
    float: none;
}
.btn:active{
    background:#a4e6e3;
}
#cuerpo{
	background-color: white;
	font-family: 'Raleway', sans-serif;
	/*background: linear-gradient(-45deg, black, white,gray);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	-o-animation: Gradient 15s ease infinite;*/
}
#logo{
	width: 30%;
    height: 30%;
}
#header{
	background-color: #6ECBC7;
	color: white;
	font-size: 100px;
	height: 160px;
	text-align: center;
}
.piedepag{
	/*-moz-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	-ms-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	-o-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-webkit-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);*/
	-webkit-box-shadow: 0px -9px 15px -1px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px -9px 15px -1px rgba(0,0,0,0.65);
	box-shadow: 0px -9px 15px -1px rgba(0,0,0,0.65);
	background-color: #45ADA9;
	/*-webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);*/
	color: white;
	height: 190px;
	text-align: center;
}
.iconredes{
	padding-top: 5px;
}
#piedepag2{
	/*-moz-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	-ms-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	-o-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);*/
	-webkit-box-shadow: 0px -6px 23px -2px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px -6px 23px -2px rgba(0,0,0,0.59);
	box-shadow: 0px -6px 23px -2px rgba(0,0,0,0.59);
	background-color:#299591;
	color: white;
	font-size: 18px;
	text-align: center;
}
.piedepag2{
	background-color:#299591;
	color: white;
	font-size: 18px;
	text-align: justify;
}
.piedepag3{
	-moz-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-ms-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-o-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	background-color:#0E8682;
	color: white;
	font-size: 19px;
	line-height:60px;
	text-align: center;
}
.main{
	background-color: white;
}
.nav-link {
	color: white;
	font-size: 20px;
}
.nav-link:hover {
	color: #a4e6e3;
}
.navp {
	font-size: 25px;
}
.navbar{
	-moz-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-ms-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-o-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	background-color: black;
	box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
}
#id01{
	display: block;
}
.row{
	text-align: justify;
}
#temaprinci{
	font-size: 40px;
	text-align: center;

}
.notaspar{
	text-align: justify;
 	font-size: 22px;
}
.nombresdeve{
	text-align: center;
 	font-size: 25px;
}
}
.imgnota{
	width: 50%;
	height: 50%;
	display:block;
	margin:auto;
}
.logo:hover{
	-webkit-transform: scale(0.9);
	opacity: 3.8;
	transition: .5s ease;
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
hr{
	background-color: rgb(230, 230, 230);
}
/*
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
}
}
@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
}
}
@-o-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
}
}
/*=========================
  Iconos
 ================= */
.icoFacebook:hover{
	-webkit-transform: scale(2.0);
	opacity: 3.8;
	transition: .5s ease;
    -moz-transform: scale(2.0);
    -ms-transform: scale(2.0);
    -o-transform: scale(2.0);
    transform: scale(2.0);
}
.icoGoogle:hover{
	-webkit-transform: scale(2.0);
	opacity: 3.8;
	transition: .5s ease;
    -moz-transform: scale(2.0);
    -ms-transform: scale(2.0);
    -o-transform: scale(2.0);
    transform: scale(2.0);
}
.icoLinkedin:hover{
	-webkit-transform: scale(2.0);
	opacity: 3.8;
	transition: .5s ease;
    -moz-transform: scale(2.0);
    -ms-transform: scale(2.0);
    -o-transform: scale(2.0);
    transform: scale(2.0);
}
.icoYoutube:hover{
	-webkit-transform: scale(2.0);
	opacity: 3.8;
	transition: .5s ease;
    -moz-transform: scale(2.0);
    -ms-transform: scale(2.0);
    -o-transform: scale(2.0);
    transform: scale(2.0);
}
.sombras{
	text-shadow: 0px -3px 8px #000000;
}
#mapa{
   width: 100%;
   background-color: grey;
   height: 400px;
}
.dropdounColores:active{
      background-color:#a4e6e3 !important;
      color: black !important;
}
/*Reglas para el estilo de las notas al explotar alñ dar click en cualquier parte
del body*/
.notasboom{
    position: absolute;
    width: 40px;
    height: 40px;
}
.nota_1{
 	-webkit-transform: rotate(+15deg);
 	-moz-transform: rotate(+15deg);
 	-ms-transform: rotate(+15deg);
 	-o-transform: rotate(+15deg);
 	transform: rotate(+15deg);
}
.nota_2{
 	-webkit-transform: rotate(-30deg);
 	-moz-transform: rotate(-30deg);
 	-ms-transform: rotate(-30deg);
 	-o-transform: rotate(-30deg);
 	transform: rotate(-30deg);
}
.nota_3{
 	-webkit-transform: rotate(-45deg);
 	-moz-transform: rotate(-45deg);
 	-ms-transform: rotate(-45deg);
 	-o-transform: rotate(-45deg);
 	transform: rotate(-45deg);
}
.city{
	display: none;
}