
body{
	background-repeat: no-repeat;
	 background-size:100% ;

}

#header-informatica{
	color: white;
}
#barra{
	
	border-color: transparent;
	color: white;
}
.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.nav-link {
	color: white;
	font-size: 15px;
}
.nav-link:hover {
	color: #a4e6e3;
}
.nombresdeve{
	text-align: center;
 	font-size: 25px;
}
#temaprinci{
	font-size: 40px;
	text-align: center;
	
}
.enlacespie:link { 
	color: rgb(246, 162, 80); 
	text-decoration: none; 
}
.enlacespie:visited { 
	color:rgb(212, 218, 229);
	text-decoration: none; 
}
.enlacespie:hover { 
	color:#a4e6e3;
	text-decoration: none; 
}
.enlacespie:active { 
	color: rgb(246, 162, 80); 
	text-decoration: underline; 
}

.piedepag{
	/*-moz-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	-ms-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	-o-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-webkit-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);*/
	-webkit-box-shadow: 0px -9px 15px -1px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px -9px 15px -1px rgba(0,0,0,0.65);
	box-shadow: 0px -9px 15px -1px rgba(0,0,0,0.65);
	background-color: #45ADA9;
	/*-webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);*/
	color: white;
	height: 190px;
	text-align: center;
}
.iconredes{
	padding-top: 5px;
}
#piedepag2{
	/*-moz-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	-ms-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	-o-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);*/
	-webkit-box-shadow: 0px -6px 23px -2px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px -6px 23px -2px rgba(0,0,0,0.59);
	box-shadow: 0px -6px 23px -2px rgba(0,0,0,0.59);
	background-color:#299591;
	color: white;
	font-size: 18px;
	text-align: center;
}
.piedepag2{
	background-color:#299591;
	color: white;
	font-size: 18px;
	text-align: justify;
}
.piedepag3{
	-moz-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-ms-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-o-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	background-color:#0E8682;
	color: white;
	font-size: 19px;
	line-height:60px;
	text-align: center;
}
li{
	text-align: center;
}

.listanav{
	display:inline-block;
    *display:inline; /* para navegadores antiguos y IE que no cogen inline-block */
    zoom:1; /* para navegadores antiguos y IE que no cogen inline-block */
}
.btn:active{
    background:#a4e6e3;
}

.nav-link {
	color: white;
	font-size: 20px;
}
.nav-link:hover {
	color: #a4e6e3;
}
.navp {
	font-size: 25px;
}
.navbar{
	-moz-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-ms-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-o-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	-webkit-box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
	background-color: black;
	box-shadow: 0px 1px 13px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 25px 4px rgba(0,0,0,0.26);
}
.row{
	text-align: justify;
}
#temaprinci{
	font-size: 40px;
	text-align: center;

}
.notaspar{
	text-align: justify;
 	font-size: 22px;
}
.nombresdeve{
	text-align: center;
 	font-size: 25px;
}
}
.imgnota{
	width: 50%;
	height: 50%;
	display:block;
	margin:auto;
}
.logo:hover{
	-webkit-transform: scale(0.9);
	opacity: 3.8;
	transition: .5s ease;
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
hr{
	background-color: rgb(230, 230, 230);
}