body{
		background-color: rgb(52, 61, 70);
}
#header{
	background-color: #0E8682;
	color: white;
	text-align: center;
}
#piedepag{
	background-color: #0E8682;
	color: white;
	text-align: center;
}
.main{
	background-color: #f2f2f2;
}
aside{
	background-color: rgb(216, 222, 233);
	color: black;
}

.color1{
	background-color: #45ADA9;
}
/*
#gradiente{
	width: 100%;
	height: 200px;
	background: linear-gradient(bottom,#000 0%, #fff 100%);
	background: -webkit-linear-gradient(bottom,#000 0%, #fff 100%);
}
#formu_1{
	background-color: rgb(18, 214, 105);
	color: rgb(0, 0, 0);
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
	font-weight: bolder;
	font-style: italic;
	width: 200px;
	margin: 0 auto;
	border-radius: 20px;
	- moz -border-radius: 20px; /*mozilla*/
/*	-ms -border-radius: 20px; /*edge*/
/*	-o -border-radius: 20px; /*opera*/
/*	-webkit -border-radius: 20px; /*chrome*/
	
/*	-moz -box-shadow: 10px 10px 5px rgb(240, 240, 240);
	-ms -box-shadow: 10px 10px 5px rgb(240, 240, 240);
	-o box-shadow: 10px 10px 5px rgb(240, 240, 240);
	-webkit -box-shadow: 10px 10px 5px rgb(240, 240, 240);

}
#header{
		background-color: rgb(31, 37, 42);
        color: rgb(94, 179, 164);
        text-align: center;
	    font-family: sans-serif;
	    font-size: 40px;
	    font-weight: bolder;
	    font-style: italic;
	    animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        position: auto;
        float: none;
        width: 50%;
        height: 50%;
}

#navbar{
		background-color: rgb(74, 85, 96);
		color: rgb(249, 174, 87);
		font-family: "Arial";
	    font-size: 30px;
	    text-align: center;
	    border: rgb(94, 179, 164) 5px solid;
		margin: 15px;
		float: none;
}

#tuneada{
		background-color: rgb(74, 85, 96);
		
		font-family: "Arial";
	    font-size: 30px;
	    text-align: center;
	    border: rgb(94, 179, 164) 3px solid;
		margin: 15px;
}

#leftmenu{
		background-color: rgb(74, 85, 96);
		color: rgb(249, 174, 87);
		font-family: "Arial";
	    font-size: 30px;
	    text-align: center;
	    border: rgb(94, 179, 164) 5px solid;
		margin: 15px;
		float: left;	
		width: 25%;
}

#content{
		background-color: rgb(74, 85, 96);
		color: rgb(249, 174, 87);
		font-family: "Arial";
	    font-size: 30px;
	    text-align: center;
	    border: rgb(94, 179, 164) 5px solid;
		margin: 15px;
	    float: left;	
	    width: 40%;
}

#rigthMenu{
		background-color: rgb(74, 85, 96);
		color: rgb(249, 174, 87);
		font-family: "Arial";
	    font-size: 30px;
	    text-align: center;
	    border: rgb(94, 179, 164) 5px solid;
		margin: 15px;
		float: right;	
		width: 25%;
}

#footer{
		background-color: rgb(74, 85, 96);
		color: rgb(249, 174, 87);
		font-family: "Arial";
	    font-size: 30px;
	    text-align: center;
	    border: rgb(94, 179, 164) 5px solid;
		margin: 15px;
		float: none;	
		clear: both;
}

@keyframes slidein {
  					from {
   							 margin-left: 100%;
   							 width: 300%; 
  					} to {
    						margin-left: 0%;
   							 width: 100%;
 					 }	
			}

			/*Checar al ultimo pagina del CEO y W3C*/